<div class="dialog-header" mat-dialog-title>
  <p mat-line>Add offer</p>
  <div class="flex-spacer"></div>
  <mat-icon class="exit-icon" (click)="onNoClick()">cancel</mat-icon>
</div>
<mat-divider></mat-divider>
  
<form [formGroup]="addOfferForm" mat-dialog-content>
    <div class="inputs-container">
      <mat-form-field>
        <input type="number" required matInput formControlName="Amount" placeholder="Amount">
        <mat-error *ngIf="addOfferForm.controls.Amount.invalid">{{getAmountErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Currency" formControlName="Currency" required>
            <mat-option *ngFor="let cur of currencies" [value]="cur.name">
              {{cur.name}}
            </mat-option>
          </mat-select>
        <!-- <input required matInput formControlName="Currency" placeholder="Currency"> -->
        <mat-error *ngIf="addOfferForm.controls.Currency.invalid">{{getCurrencyErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="number" min="1" max="100" required matInput formControlName="Interest" placeholder="Interest">
        <mat-error *ngIf="addOfferForm.controls.Interest.invalid">{{getInterestErrorMessage()}}</mat-error>
        <mat-hint>% between 1 to 100</mat-hint>
      </mat-form-field>
      
    </div>
</form>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button [disabled]="checkFormStatus()" class="save-button" mat-button (click)="onSubmit()">Add offer</button>
</div>
   