
<mat-toolbar  class="menu">
  <mat-toolbar-row >
    <!-- <img src="../assets/logo.jpeg" alt=""> -->
    <!-- <button mat-button><img class="logo" src="../assets/logo.png" alt=""></button> -->
    <button mat-button style="color:aliceblue"><b>SOCIAL BANK</b></button>
    <button mat-button style="color:aliceblue"><mat-icon class="home" style="color:aliceblue">home</mat-icon>Home</button>
    <button mat-button (click)="openSigninDialog()" style="color:aliceblue">Sign In</button>
    <button mat-button (click)="openSignupDialog()" style="color:aliceblue">Sign Up</button>
    <button mat-button (click)="openAboutDialog()"  style="color:aliceblue">About</button>
    <button mat-button (click)="signOut()" style="color:aliceblue">Sign Out</button>
    <!-- <button mat-button><mat-icon>mail_outline</mat-icon>Contact Us</button> -->
  </mat-toolbar-row>
</mat-toolbar>


<img src="../assets/pic.jpeg" style="width:50%; left:25%; position: relative;" alt="" >

<mat-toolbar style="position:relative; left:15%; width:70%">Offered Loans 
    <button  *ngIf="loggedInUser" mat-button class="add-offer" (click)="openAddOfferDialog()" style="border:2px solid  green">Add offer</button>
</mat-toolbar>

<table 
  #firstTable
  #firstTableSort="matSort"
  mat-table 
  [dataSource]="offersDataSource" 
  matSort 
  class="mat-elevation-z8">

  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
    <td mat-cell *matCellDef="let element"> <a href="#" (click)="openFacebook(element.Username)">{{element.Username}}</a> </td>
  </ng-container>

  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
  </ng-container>

  <ng-container matColumnDef="Currency">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
    <td mat-cell *matCellDef="let element"> {{element.Currency}} </td>
  </ng-container>

  <ng-container matColumnDef="Interest">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Interest </th>
    <td mat-cell *matCellDef="let element"> {{element.Interest}} </td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element; let i = index;"> <button *ngIf="loggedInUser" (click)="openTakeLoanDialog(element, i)" style="background-color:#5b8129"  mat-button>Take loan!</button></td>
  </ng-container>
  

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element"> 
        <button *ngIf="loggedInUser"  mat-button  (click)="openRate(element.Username)" style="background-color:#d9ff00"> Rate </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Reviews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reviews </th>
    <td mat-cell *matCellDef="let element"> <a *ngIf="loggedInUser" mat-button (click)="openRatesDialog(element.Username)">{{getNumOfRates(element.Username)}} reviews ({{getRatesAverage(element.Username) | number}})</a> </td>
  </ng-container>

  <ng-container matColumnDef="fb">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
    <td mat-cell *matCellDef="let element">
        <a *ngIf="loggedInUser" mat-button></a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-toolbar style="position:relative; left:15%; width:70%">Requested Loans
    <button *ngIf="loggedInUser" mat-button class="add-offer" (click)="openAddRequestDialog()" style="border:2px solid  green">Add request</button>
</mat-toolbar>

<table 
  #secondTable
  #secondTableSort="matSort"
  mat-table 
  [dataSource]="requestsDataSource" 
  matSort 
  class="mat-elevation-z8"
  >

  <!-- Position Column -->
  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
    <td mat-cell *matCellDef="let element">  <a href="#" (click)="openFacebook(element.Username)">{{element.Username}}</a> </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Currency">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
    <td mat-cell *matCellDef="let element"> {{element.Currency}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Interest">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Interest </th>
    <td mat-cell *matCellDef="let element"> {{element.Interest}} </td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element;  let i = index;"> <button *ngIf="loggedInUser" (click)="openGiveLoanDialog(element, i)" style="background-color:#5b8129" mat-button> Give loan! </button></td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element"> 
        <button *ngIf="loggedInUser"  mat-button (click)="openRate(element.Username)" style="background-color:#d9ff00"> Rate </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Reviews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reviews </th>
    <td mat-cell *matCellDef="let element"> <a  *ngIf="loggedInUser" mat-button (click)="openRatesDialog(element.Username)">{{getNumOfRates(element.Username)}} reviews ({{getRatesAverage(element.Username) | number}})</a> </td>
  </ng-container>

  <ng-container matColumnDef="fb">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element"> 
        <a *ngIf="loggedInUser"  mat-button> </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-toolbar class="footer" style="color:aliceblue"><mat-icon>copyright</mat-icon><pre> </pre> <b>Ronit Kissis | Banuel Dogayman | Eden Firouz | Ilana Mordechai | Karin Mishor</b></mat-toolbar>
