.star {
    font-size: 1.5rem;
    color: #b0deb6ce;
  }
  .filled {
    color: #0eaf4c;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }

  .inputs-container{
    display: flex;
    flex-direction: column;
}

.dialog-header{
    display: flex;
    flex-direction: row;
}

.inputs-container > *{
    width: 100%;
}

.exit-icon:hover{
    cursor: pointer !important;
}

.mat-dialog-content{
    padding: 24px 24px;
}

.mat-checkbox-layout{
    padding-top: 10px;
}


.mat-dialog-actions{
    flex-direction: row-reverse;
}
