
<div class="dialog-header" mat-dialog-title>
    <p mat-line>Sign Up</p>
    <div class="flex-spacer"></div>
    <mat-icon class="exit-icon" (click)="onNoClick()">cancel</mat-icon>
  </div>
  <mat-divider></mat-divider>
  
  <form [formGroup]="signupForm" mat-dialog-content>
      <div class="inputs-container">
        <mat-form-field>
          <input  required matInput formControlName="Username" placeholder="Username">
          <mat-error *ngIf="signupForm.controls.Username.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  required matInput formControlName="Password" placeholder="Password">
          <mat-error *ngIf="signupForm.controls.Password.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  required matInput formControlName="ID" placeholder="ID">
          <mat-error *ngIf="signupForm.controls.ID.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  required matInput formControlName="Email" placeholder="Email">
          <mat-error *ngIf="signupForm.controls.Email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  required matInput formControlName="Facebook" placeholder="Facebook profile url">
          <mat-error *ngIf="signupForm.controls.Facebook.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" required matInput formControlName="Age" placeholder="Age">
          <mat-error *ngIf="signupForm.controls.Age.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  required matInput formControlName="Degree" placeholder="Degree">
          <mat-error *ngIf="signupForm.controls.Degree.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  required matInput formControlName="University" placeholder="University">
          <mat-error *ngIf="signupForm.controls.University.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  </form>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button [disabled]="checkFormStatus()" class="save-button" mat-button (click)="onSubmit()">Sign Up</button>
  </div>
 