
<div class="dialog-header" mat-dialog-title>
    <p mat-line>Students Loan Bank</p>
  <div class="flex-spacer"></div>
  <mat-icon class="exit-icon" (click)="onNoClick()">cancel</mat-icon>
</div>
<mat-divider></mat-divider>

<p mat-line>
    Student Banking welcomes you to explore the world of premier banking.
    Our goal is simple. Deliver the best possible banking experience so our customers and clients 
    can better manage their finances and get the best loan offers.
    Our business is more than banking because we 
    touch the lives of students anywhere in many ways. We help you manage your private account and give detailed 
    information about transactions and loans.
    Banks are a financial institution that mediates 
    funds between the world corporation and the private world. 
    Today we are working to create a social network that bypasses the costs of the bank's 
    financial reach and allows people to lend money from one to another and provides additional 
    financial. Financial Social Network is the future and we take a step towards the development 
    of a social platform for our customers.
</p>
  
  
 