
<div class="dialog-header" mat-dialog-title>
    <p mat-line>Students Loan Bank</p>
  <div class="flex-spacer"></div>
  <mat-icon class="exit-icon" (click)="onNoClick()">cancel</mat-icon>
</div>
<mat-divider></mat-divider>

<p mat-line>
    <b>Welcome To Our Social Bank</b>
    <br>
    Our bank let you manage your finances, take the best loans,
    lend money from one to another and also the bank provides additional financial.
    You can view profiles of other users, view the ratings given to them by consumers who interacted with them,
    and rank them also.
    Our goal is to give you the best service and experience!
</p>
  
  
 